*~
autom4te.cache
compileit
config.cache
config.log
config.status
configure
cscope.*
flwm
geany_run_script.sh
htdocs
logo.fl
makedepend
makeinclude
*.o
flwm
makedepend
makeinclude
config.status
config.log
autom4te.cache/
.*.sw[nop]
